<div class="book-card">
  <div class="book my-3 row p-3">
    <h4
      class="col-12 red-text d-block d-sm-none text-center mt-2"
      class="book-title"
    >
      The Way of Kings
    </h4>
    <figure class="col-10 col-sm-4 my-4 my-sm-0">
      <img
        src="https://picsum.photos/100/160"
        alt="Book Cover"
        height="100%"
        width="100%"
      />
    </figure>
    <div class="col-10 col-sm-8 col-md-4 text-center text-sm-left">
      <h4 class="red-text d-none d-sm-block" class="book-title">
        The Way of Kings
      </h4>
      <p class="author">Brandon Sanderson</p>
      <p class="category">Category: Fantasy, Fiction, High-Fantasy</p>
    </div>
    <div class="col-sm-12 col-md-4 ml-auto text-center">
      <p>Amount: 1</p>
      <button onclick="location.href='./bookView.php'">View-></button>
    </div>
  </div>
</div>
