<style>
  #footer > div {
    border: 1px solid black;
    box-shadow: 0px -2px black;
  }
  #footer a {
    color: var(--black);
  }

  .black-underline {
    box-shadow: var(--weird-shadow);
  }
</style>
<div id="footer" class="mx-auto container my-1">
  <div class="row text-center">
    <div class="col-12 col-md-3 mx-auto">
      <div class="d-inline-block my-3 red-text black-underline pb-1">
        <h3>Links</h3>
      </div>
      <div class="d-block my-3 black-under">
        <a href="#">About<br />Us</a>
      </div>
      <div class="d-block my-3">
        <a href="#">Our Donors</a>
      </div>
      <div class="d-block my-3">
        <a href="#">Visit<br />Our<br />University</a>
      </div>
    </div>
    <div class="col-12 col-md-3 mx-auto">
      <div class="d-inline-block my-3 red-text black-underline pb-1">
        <h3>Categories</h3>
      </div>
      <div class="d-block my-3">
        <a href="./categoryView.php">Academic<br />Books</a>
      </div>
      <div class="d-block my-3">
        <a href="./categoryView.php">Non-<br />Fiction</a>
      </div>
      <div class="d-block my-3">
        <a href="./categoryView.php">Fiction<br />&Fantasy</a>
      </div>
    </div>
    <div class="col-12 col-md-3 mx-auto">
      <div class="d-inline-block my-3 red-text black-underline pb-1">
        <h3>Site</h3>
      </div>
      <div class="d-block my-3">
        <a href="./">Home</a>
      </div>
      <div class="d-block my-3">
        <a href="./userOptions.php">Settings</a>
      </div>
      <div class="d-block my-3">
        <a href="./search.php">Search</a>
      </div>
      <div class="d-block my-3">
        <a href="#">Notifications</a>
      </div>
    </div>
  </div>
</div>
