<!-- todo: remove css link -->
<link rel="stylesheet" href="../css/bootstrap.min.css" />

<style></style>

<div id="search-bar" class="mx-auto">
  <form
    action="./search.php"
    method="get"
    class="row mx-auto pt-3 pb-3 align-content-center justify-content-center"
  >
    <h2 class="col-10 col-md-3 my-2 my-md-0 text-center">SEARCH</h2>
    <input
      class="col-10 col-md-7 py-2 py-md-0 text-center"
      type="text"
      placeholder="Type something here..."
      name="search-area"
      id="search-area"
      autocomplete="off"
    />

    <div id="search-suggestion" class="position-absolute text-center">
      <!-- <div class="search-suggestion-item row m-1 p-2">
        <figure class="col-12 col-sm-3 col-md-4">
          <img src="./uploads/img/test.jpg" alt="" />
        </figure>
        <div class="item-info col-12 col-sm-6 col-md-5 text-left">
          <p class="title lead font-weight-bold">The Way of Kings</p>
          <p>Brandon Sanderson</p>
        </div>
        <a
          href="./bookView.php?current-book=9780765365279"
          class="col-12 col-sm-3"
        >
          <p>VIEW</p>
          <p>-></p>
        </a>
      </div> -->
    </div>
    <input type="submit" value="" />
    <button class="pr-4 pl-4 my-2 my-md-0 text-center col-10 col-md-2">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>

<!-- <div
  class="search-bar row mx-auto pt-3 pb-3 align-content-center justify-content-center"
>
  <h2 class="col-10 col-md-3 my-2 my-md-0 text-center">SEARCH</h2>
  <input
    class="col-10 col-md-7 py-2 py-md-0 text-center"
    type="text"
    placeholder="Type something here..."
    name="search bar"
    id="search-area"
  />
  <button class="pr-4 pl-4 my-2 my-md-0 text-center col-10 col-md-2">
    <i class="fa fa-search"></i>
  </button>
</div> -->
<!-- 
$('a').on('click', function () { $(this.hash).toggleClass('active').focus(); });
$('div').on('focusout', function () { $(this).removeClass('active'); }); div {
display: none; } .active { display: block; } -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a href="#example">Example</a>
<div id="example" tabindex="-1">
  Lorem ipsum <a href="http://example.com">dolor</a> sit amet.
</div> -->
